.sliderEpet {
    width: 100%;
    padding: 2rem;
    background-color: darkgoldenrod;
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr 2fr;
    gap: 1rem;
}

.epets {
    text-align: center;
}

.img {
    width: 75%;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.img:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}