/* App.css */
/* Estilos globales o de la aplicaci贸n principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
 /* Formulario */
 .form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  /* Etiquetas */
  .info-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Campos de entrada */
.input-field {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
/* Botones */
.button {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Estilos base para el bot贸n */
.google-signin-button {
  background-color: #4285f4;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-bottom: 2%;
}

/* Efecto de sombra al pasar el rat贸n */
.google-signin-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo de texto en el bot贸n */
.google-signin-button span {
  padding: 0 10px;
}

/* Icono de Google */
.google-signin-button i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.verPassword{
  position: absolute;
  left: 59%;
  top: 41%;
}


.hamburger {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

._layer {
  background: #5b37ff;
  width: 28px;
  height: 4px;
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
